html
  head
    title
      | Title!!!
    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    link(rel="stylesheet" href="/less-css/style.css")
  body
    h1 HAHA INTERNET
    script.
      $(function(){

        // used to map $ amounts to percentage of paycheck
        var monthlyPaycheck = 6500;
        // used to map $ amouts to percentage of graph
        var graphRange = 7000

        // transactions passed in from db
        var transactions = !{transactions};

        // remap prices from $ to graph %
        // note that graph % may not equal paycheck %
        function scaleDollarAmountToGraphPercentage(input) {
          // re-add decimal places
          price = input/10000;
          // remap to % graph range
          return price / graphRange * 100;
        }

        // remap prices to % of monthly allowance
        function scaleDollarAmountToPaycheckPercentage(input) {
          // re-add decimal places
          price = input/10000;
          // remap to % monthly allowance
          return price / monthlyPaycheck * 100;
        }

        // turn a transaction set into a bar graph
        // TODO: adapt this for months?
        function makeGraphForTransactions(){
          // a wrapper for graph and text data
          var wrap = document.createElement('div');
          wrap.className += ' wrap ';
          // the actual bar graph component
          var graph = document.createElement('div');
          graph.className += ' graph ';

          // add the graph to the wrap
          wrap.appendChild(graph);

          // convert each entry into a bar graph element
          function insertEntry(txn){
            var amount = txn.amounts.cleared;
            var description = txn.description;

            // create a div for the entry
            var entry = document.createElement('div');
            entry.className += ' entry ';
            entry.style.width = scaleDollarAmountToGraphPercentage(amount) + '%';
            entry.setAttribute('data-description', description);
            entry.setAttribute('data-amount', amount);
            // add the entry to the graph
            graph.appendChild(entry);
          }

          for(t in transactions){
            var txn = transactions[t];
            if (txn.bookkeeping_type === 'debit'){
              insertEntry(txn);
            } else {
              {console.log(txn.bookkeeping_type, txn.description)}
            }
          }
          // append the whole ensemble to the doc
          document.body.appendChild(wrap);

          // hovers for slices
          $('.graph').on('mouseover', '.entry', function(e){
            console.log($(e.target).attr('data-description'));
          })
        }

        makeGraphForTransactions();

        // when each slice is created, scrape the
        // notes API for a corresponding note.
        // if it's there, color code the slice.

        // on hover, popup lets you pick a new
        // rating, which gets posted to note API.


      })
